<div class="col-md-12 mb-4 " id="about">
  <div class="card border-0 shadow">
    <img
      src="https://images.unsplash.com/photo-1500239524810-5a6e76344a17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1079&q=80https://images.unsplash.com/photo-1500239524810-5a6e76344a17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1079&q=800"
      class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0 pb-2">Timo Tamminen</h5>
      <div class="container">
        <div class="row">
          <div class="col-mx-12 col-md-6 text-left border-right border-left">
            <div class="card-text text-black-50">Web Developer</div>
            <div class="card-text text-black-50">Software Developer</div>
            <div class="card-text text-black-50">Dad && husband</div>
          </div>
          <div class="col-mx-12 col-md-6 text-left border-right border-left">
            <div class="card-text text-black-50">Birth: 19.3.1985</div>
            <div class="card-text text-black-50">Phone: 0451363661</div>
            <div class="card-text text-black-50">Email: timo.tamminen@vaerilius.fi</div>
          </div>
          <div class="col-md-12 pt-3">

              <h5 class="display-5">The four most important areas of life: family, health, work and leisure </h5>

          </div>
        </div>
        <div class="container py-3">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Family</h5>

              <img class="card-img-top" alt="Card image cap" [src]="family" style="width: 12rem">
              <div class="card-body">
                <p class="card-text">I have to two boys and wonderful openwife.
                  Now boys are two and five yers old.
                  About ten years ago I met my openwife on the Tallinn cruise.
                  They fill my life every day and there is no dull moment in my life. </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Work</h5>

              <img class="card-img-top" alt="Card image cap" [src]="work" style="width: 15rem">
              <div class="card-body">
                <p class="card-text">Click and download my CV.</p>
                <p class="card-text">My old career was in the a power plant industry as a process manager
                  but I changed my career to IT because my I always want to learn to code.</p>
                <p class="card-text">Now I'm studying the code and I can't wait to until I get to work as a developer.</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Leisure</h5>

              <img class="card-img-top" alt="Card image cap" [src]="hobbies" style="width: 12rem">
              <div class="card-body">
                <p class="card-text">In free time I go to gym, playing with my children's, eat to pizza and of course studying to new code. I really love pizza =)</p>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
