<div class="col-md-12 mb-4 " id="about">
  <div class="card border-0 shadow">
    <img
      src="https://images.unsplash.com/photo-1500239524810-5a6e76344a17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1079&q=80https://images.unsplash.com/photo-1500239524810-5a6e76344a17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1079&q=800"
      class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0 pb-2">Timo Tamminen</h5>
      <div class="container">
        <div class="row">
          <div class="col-mx-12 col-md-6 text-left border-right border-left">
            <div class="card-text text-black-50">Web Developer</div>
            <div class="card-text text-black-50">Software Developer</div>
            <div class="card-text text-black-50">Dad && husband</div>
          </div>
          <div class="col-mx-12 col-md-6 text-left border-right border-left">
            <div class="card-text text-black-50">Birth: 19.3.1985</div>
            <div class="card-text text-black-50">Phone: 0451363661</div>
            <div class="card-text text-black-50">Email: timo.tamminen@vaerilius.fi</div>
          </div>
          <div class="col-md-12 pt-3">
            <blockquote class="blockquote text-right">
              <h5 class="lead display-5">The four most important areas of life: family, health, work and leisure </h5>
            </blockquote>
          </div>
        </div>
        <div class="container py-3">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Family</h5>

              <img class="card-img-top" alt="Card image cap" [src]="family" style="width: 12rem">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Work</h5>

              <img class="card-img-top" alt="Card image cap" [src]="work" style="width: 15rem">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Leisure</h5>

              <img class="card-img-top" alt="Card image cap" [src]="hobbies" style="width: 12rem">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
