<div class="col-md-12 mb-4 " id="about">
  <div class="card border-0 shadow">
    <img
      [src]="pic"
      style=" max-height: 360px; max-width: 500px;"
      class="card-img-top mx-auto p-3 rounded-circle"
      >
    <div class="card-body text-center">
      <h5 class="card-title mb-0 pb-2 display-5">Timo Tamminen</h5>
      <div class="container">
        <div class="row">
          <div class="col-mx-12 col-md-6 col-lg-4 text-left border-right border-left m-2 text-center">
          <div class="card-text text-black-50">Web Developer</div>
          <div class="card-text text-black-50">Software Developer</div>
          <div class="card-text text-black-50">Dad && husband</div>
        </div>
          <div class="col-mx-12 col-md-6  col-lg-4 text-left border-right border-left m-2 text-center">
            <div class="card-text text-black-50">I'm looking for new opportunities</div>

          </div>
          <div class="col-mx-12 col-md-6 col-lg-4 text-left border-right border-left m-2 text-center">
            <div class="card-text text-black-50">test test</div>

          </div>
        </div>
          <div class="col-md-12 pt-3">

              <h5 class="display-5">The four most important areas of life: family, health, work and leisure </h5>
          </div>
        </div>
        <div class="container py-3">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Family</h5>

              <img class="card-img-top img-fluid" alt="Card image cap" [src]="family" style=" width: 15rem;">
              <div class="card-body">
                <p class="card-text">I have two boys and a wonderful wife.
                  Now the boys are two and five years old.
                  About ten years ago I met my wife on a Tallinn cruise :)
                  They fill my life every day and there is no dull moment in my life. </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Work</h5>

              <img class="card-img-top" alt="Card image cap" [src]="work" style="width: 15rem">
              <div class="card-body">
                <p class="card-text">Click and download my CV.</p>
                <p class="card-text">My previous career was in a power plant industry as a process operator
                  but I changed my career to IT because I've always wanted to learn to code.</p>
                <p class="card-text">Now I'm studying coding at Laurea University of Applied sciences and I can't wait to get to work as a developer.</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h5 class="card-title">Leisure</h5>

              <img class="card-img-top" alt="Card image cap" [src]="hobbies" style="width: 12rem">
              <div class="card-body">
                <p class="card-text">In my free time I go to gym, play with my children, eat pizza and, of course, study new code. I really love pizza =)</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
