<nav class="navbar navbar-expand-md navbar-dark fixed-top py-1 mx-auto" id="navbar" >


  <ul class="nav nav-tabs border ">
    <li class="list-group-item bg-transparent">
    <a class="navbar-brand disabled"><i class="fa fa-code text-white"></i></a>
    </li>
    <li class="list-group-item bg-transparent">
      <a href="https://github.com/vaerilius" class="nav-link "><i class="fa fa-github  text-white"></i></a>

    </li>
    <li class="list-group-item bg-transparent">
      <a class="nav-link " href="https://www.linkedin.com/in/timo-tamminen11/"><i class="fa fa-linkedin  text-white"></i></a>
    </li>
  </ul>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarColor01">

    <ul class="navbar-nav mr-auto pl-5">
      <li class="nav-item active">
        <a class="nav-link" href="#jumbotron">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#info">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Gallery</a>
      </li>

    </ul>

  </div>
</nav>
