a.nav-link {
color: #c9d0c8 ;
  font-weight: bolder;
  text-shadow: darkgrey;
}
/*a.nav-link:hover { color: whitesmoke !important; }*/
/*a.nav-link:focus:active {*/
/*   color: white !important;*/
/*   text-shadow: darkgrey;*/
/* }*/
fa-icon {


  padding: 1px;
  size: auto;
}
