
<nav class="navbar navbar-light bg-transparent justify-content-md-center" id="nav">
  <ul class="nav nav-tabs border-0 ">
    <li class="bg-transparent">
      <a class="navbar-brand disabled"><i class="fa fa-code text-white"></i></a>
    </li>
    <li class="nav-item active ">
      <a class="nav-link " routerLink="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>

