<div class="container ">
  <hr class="bg-light">
  <h3 class="display-4 text-white text-center"> Projects</h3>
  <hr class="bg-light">
  <div class="row ">
    <div class="col-ms-12 m-4 p-2 ">
      <div class="dropdown">
        <button class="btn btn-secondary
   dropdown-toggle" type="button"
                (click)="onToggle()">Select Project
        </button>
        <div class="dropdown-menu"
             [ngClass]="{show: isCollapsed}">
          <app-project-list></app-project-list>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 d-flex justify-content-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


