<div class="col-md-12 mb-5 " id="contact">
  <div class="card border-0 shadow">
    <h3 class="display-4 m-3 p-3 text-center ">Contact</h3>'
    <div class="container">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input name="name"
                 type="text"
                 class="form-control"
                 id="name"
                 required
                 ngModel>
        </div>
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email"
                 id="email"
                 class="form-control"
                 ngModel
                 name="email"
                 required
                 email
                 #email="ngModel">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text"
                 id="phone"
                 class="form-control"
                 ngModel
                 name="phone"
                 required
                 #phone="ngModel">
        </div>
        <div class="form-group">
          <label for="text">Message</label>
          <textarea name="message"
                    class="form-control"
                    id="text"
                    rows="5"
                    cols="20"
                    ngModel
                    required
                    #msg="ngModel"></textarea>
        </div>

        <div class=" m-3 d-flex justify-content-center">
          <button type="submit"
                  class="btn btn-primary px-5"
          [disabled]="!f.valid">Submit</button>

        </div>
      </form>
    </div>
  </div>

</div>
