<div class="col-md-12 mb-5 " id="contact">
  <div class="card border-0 shadow">
    <h3 class="display-4 m-3 p-3 text-center ">Contact</h3>'
    <div class="container">
      <form method="post" action="email.php">
        <fieldset>
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp"
                   placeholder="Enter name">
          </div>

          <div class="form-group">
            <label for="mailInput">Email address</label>
            <input name="email" type="text" class="form-control" id="email"
                   aria-describedby="emailHelp"
                   placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="phoneInput">Phone</label>
            <input name="phone" type="text" class="form-control" id="phone" aria-describedby="emailHelp"
                   placeholder="Enter phone number">
          </div>

          <div class="form-group">
            <label for="textInput">Example textarea</label>
            <textarea name="message" class="form-control" id="text" rows="15" cols="20"></textarea>
          </div>
          <div class="form-group">
            <label for="fileHelp">File input</label>
            <input type="file" class="form-control-file" id="fileInput" aria-describedby="fileHelp">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
