<section class="jumbotron text-center text-white pt-5" id="jumbotron" >
  <div class="container ">

    <h4 class="jumbotron-heading display-4">Timo Tamminen</h4>
    <img class="card-profile-img rounded-circle border-right toast-body shadow-lg"[src]="image"
         style="height: 170px">

    <div class="container">
      <h4 class="display-3 ">Developer</h4>
      <ul class="list-group-horizontal-lg text-center blockquote">
        <li class="pr-2">Java</li>
        <li class="pr-2">JavaScript</li>
        <li class="pr-2">Angular</li>
        <li class="pr-2">NodeJs</li>
        <li class="pr-2">Git</li>


      </ul>
    </div>


  </div>
</section>
