<div class="container mt-5">
  <div class="col-md-12 mb-4 ">
    <div class="card border-0 shadow">
      <h6 class="card-header shadow text-center text-uppercase font-weight-bold pb-2 display-4">About me</h6>
      <img
        [src]="code"
        style=" max-height: 360px; max-width: 500px;"
        class="card-img-top mx-auto p-3 rounded-circle shadow-lg">
      <div class="card-body text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-1 text-left border shadow rounded">
              <p >Title: Student / Developer </p>
              <p >Phone: 0451363661 </p>
              <p >Mail: vaerilius@gmail.com</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 text-left text-md-center border shadow rounded">
              <p >Dad * 2</p>
              <p >Husband</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 text-left text-lg-right border shadow rounded">
              <div class="card-text ">
<!--                <p class="text-monospace"> abc 123</p> </div>-->

            </div>
          </div>
        </div>
        <div class="container mt-4 py-3">
          <h5 class="display-5 p-2 shadow" >The four most important areas of life: family, health, work and leisure </h5>

          <div class="row ">

            <div class="col-sm-12 col-md-6 col-lg-4 ">
              <h6 class="card-title display-4 border-bottom">Family</h6>

              <img class="card-img-top img-fluid" alt="Card image cap" [src]="family" style=" width: 15rem;">
              <div class="card-body shadow">
                <p class="card-text text-left">I have two boys and a wonderful wife.
                  Now the boys are two and five years old.
                  About ten years ago I met my wife on a Tallinn cruise :)
                  They fill my life every day and there is no dull moment in my life. </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h6 class="card-title display-4 border-bottom">Work</h6>

              <img class="card-img-top" alt="Card image cap" [src]="work" style="width: 14rem">
              <div class="card-body shadow">
                <p class="card-text">Click and download my CV.</p>
                <p class="card-text text-left text-md-center">My previous career was in a power plant industry as a process operator
                  but I changed my career to IT because I've always wanted to learn to code.
                  Now I'm studying coding at Laurea University of Applied sciences and I can't wait to
                  get to work as a developer.</p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <h6 class="card-title display-4 border-bottom">Leisure</h6>

              <img class="card-img-top" alt="Card image cap" [src]="leisure" style="width: 12rem">
              <div class="card-body shadow">
                <p class="card-text text-left text-lg-right">
                  In my free time I go to gym, run in the Forest, play with my children, eat pizza and, of course, study
                  new code. I really love pizza =)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
