/* You can add global styles to this file, and also import other style files */
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/deglee-degi-wQImoykAwGs-unsplash.jpg");
  color: whitesmoke;
}
